<!doctype html>
<head>
  <meta charset="utf-8">
  <title>HUSL - HSL for human beings</title>
  <meta name="description" content="">
  <meta name="author" content="Alexei Boronine">
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/colorspaces.min.js"></script>
  <script src="js/husl.js"></script>
  <script src="js/color-demo.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">HUSL</span>
      <ul class="nav">
        <li>
          <a href="./index.html">Overview</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <header>
        <h1>HSL for human beings</h1>
      </header>
      {{ content }}
      <footer>
        <hr/>
      </footer>
    </div>
  </div>
</body>
</html>
